<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Bootswatch CSS Cyborg -->
	<link rel="stylesheet" href="/assets/css/cyborg.css" type="text/css" />
	
	<!-- Specific CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <!--Allows me to use JQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Allows me to use Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

	<title>Mongo Scraper</title>
</head>
<body>

	{{{ body }}}

</body>
</html>
